networks:
  tycho:
    external: true

services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - "7777:7777"
    environment:
      - BUILD_TYPE=debug
      - REDIS_HOST=redis
      - REDIS_PORT=7777
      - REDIS_ARGS="--loglevel verbose"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - tycho

  ethereum:
    build: 
      context: back
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=stream
    ports:
      - "42001:42001"
    volumes:
      - ./back:/app
    command: cargo watch -w /app -x "run --bin stream"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - BUILD_TYPE=debug
      - REDIS_HOST=redis
      - NETWORK=ethereum
      - TESTING=true
      - TYCHO_URL=https://tycho-beta.propellerheads.xyz
      - TYCHO_API_KEY=sampletoken
      - HEARTBEAT=ToDo
    restart: always
    networks:
      - tycho

  # web:
  #   build:
  #     context: front  # Ensure your frontend is inside 'front/' directory
  #     dockerfile: ops/Dockerfile
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - NEXT_PUBLIC_API_URL=http://ethereum:42001  # Internal service name for API communication
  #   depends_on:
  #     - ethereum  # Ensure backend starts before frontend
  #   networks:
  #     - tycho

  # base:
  # arbitrum:
  # starknet:
  # web:

