@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* hide scrollbar for chrome, safari and opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        /* hide scrollbar for ie and edge */
        -ms-overflow-style: none;

        /* hide scrollbar for firefox */
        scrollbar-width: none;
    }
}

nextjs-portal {
    display: none;
}
