@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* hide scrollbar for chrome, safari and opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        /* hide scrollbar for ie and edge */
        -ms-overflow-style: none;

        /* hide scrollbar for firefox */
        scrollbar-width: none;
    }
}

nextjs-portal {
    display: none;
}

.skeleton-loading {
    @apply relative overflow-hidden rounded-lg bg-milk-100;
}

.skeleton-loading::before {
    content: '';
    @apply absolute inset-0 rounded-lg animate-skeleton-move bg-gradient-to-r from-transparent via-milk-150 to-transparent opacity-50;
    transform: translateX(-100%);
}
